# Analysis of Fertility Rate and Its Various Factors Across OECD Countries In The Past Decade 

Jason Lee and Jay Lee

# Introduction 

The fertility rate in all, if not most countries is susceptible to fluctuation over period of time. Whether that may be due to a singular factor or a result of intricate relationships of multiple factors, we are intrigued to possibly compare and identify different factors that might play a significant role in the fluctuation of fertility rate across differnt countries. We have collected publicly available data with statistics on fertility rate of OECD (The Organization for Economic Cooperation and Development) in the last decade along with other notable statistics about those countries such as GDP, Health Spending, Employment Rate, Adult Education Level, and Internet Access. We are analzying this data to identify patterns in the possible relationships these attributes might have on the fertility rate across different countries over time. 

Fertility rate in a specific year is described as the total number of children that would be born to each woman given that she is able to live to the end of her child-bearing years and give birth to children in correspondence to the age-specific fertility rates. A total fertility rate of 2.1 children per woman ensures a broadly stable population assuming that there is an equilibrium in net migration and mortality. Together with mortality and migration, fertility rate reflects the effects of multifaceted development of a country, whether that may be economical, social, and/or more.

## Data Collection and Cleaning 

Our data is collected from OECD website. We collected the countries' Fertility Rates, GDP (Gross Domestic Product), Young Population, Elderly Population, Adult Education Level,and Access to Internet. It is also hosted on Google Drive [here](https://drive.google.com/drive/folders/100_ZZScW3yAXBZ9k2wZW5fegNIw2HC6G?usp=sharing)

In [124]:
import numpy as np 
import seaborn as sns 
import pandas as pd 
import duckdb, sqlalchemy 

%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Fertility Rates

These are the fertility rates of OECD countries from 1960-1970. In the cells below, the data is cleaned by removing insignificant datas. For example, data pertaining to "OECD Average" is unnecessary for the research as it looks into each specific country, rather than an average of the countries. In addition, some rows are renamed and/or removed to make the data simpler and more intuitive. The same procedures are followed for other sets of data as well.

In [126]:
#Data import
fertility_rates_df = pd.read_csv('/Users/jasonlee/Downloads/INFO2950_Project_Data/Fertility_Rates.csv')

#Renaming the column variables to be more informative
fertility_rates_df.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1, inplace=True)

fertility_rates_df.columns
fertility_rates_df.columns = ['Country','Year','FertilityRate']

print(fertility_rates_df.shape)

#Rows with the Country value 'OAVG' is removed 
fertility_rates_df = fertility_rates_df.drop(fertility_rates_df.index[fertility_rates_df['Country'].isin(['OAVG' ])])

fertility_rates_df.head()

(380, 3)

  Country  Year  FertilityRate
0     AUS  2011           1.92
1     AUS  2012           1.93
2     AUS  2013           1.88
3     AUS  2014           1.79
4     AUS  2015           1.79

## GDP (Gross Domestic Product) 

Similar to Fertility Rates, the data regarding GDP is followed by similar procedures for cleaning. To make sure the number rows match the previous set of data, we went through the data and removed any excess data, such as "OECD".

In [117]:
GDP_df = pd.read_csv('/Users/jasonlee/Downloads/INFO2950_Project_Data/GDP.csv')

#Renaming the column variables 
GDP_df.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1, inplace=True)

GDP_df.columns
GDP_df.columns = ['Country','Year','GDP (US Dollar/Capita)']


#Rows with the Country value 'OECD' is removed 
GDP_df = GDP_df.drop(GDP_df.index[GDP_df['Country'].isin(['OECD'])])

print(GDP_df.shape)

#Making sure the number rows remain consistent througout different datasets
GDP_df.head()

(380, 3)

  Country  Year  GDP (US Dollar/Capita)
0     AUS  2011            44429.559507
1     AUS  2012            43883.378891
2     AUS  2013            47761.901259
3     AUS  2014            47603.880878
4     AUS  2015            47232.629120

## Health Spending

In [116]:
Health_spending_df = pd.read_csv('/Users/jasonlee/Downloads/INFO2950_Project_Data/Health_Spending.csv')

#Renaming the column variables 
Health_spending_df.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1, inplace=True)

Health_spending_df.columns
Health_spending_df.columns = ['Country','Year','Health Spending (US Dollar/Capita)']


#Rows with the Country value 'OECD' is removed 
Health_spending_df = Health_spending_df.drop(Health_spending_df.index[Health_spending_df['Country'].isin(['OECD'])])
print(Health_spending_df.shape)
Health_spending_df.head()

(380, 3)

  Country  Year  Health Spending (US Dollar/Capita)
0     AUS  2011                            3809.112
1     AUS  2012                            3854.190
2     AUS  2013                            4087.849
3     AUS  2014                            4562.730
4     AUS  2015                            4777.388

## Employment Rate

The original set of Employment Rate data consisted a total of 389 rows. Upon closer inspection, we cleaned up the data by removing set of datas with 'OECD' like the data sets above. However, this set of data was missing a value in employment rate, specifically Mexico in 2020.

In [127]:
Employment_rate_df = pd.read_csv('/Users/jasonlee/Downloads/INFO2950_Project_Data/Employment_Rates.csv')

#Renaming the columns 
Employment_rate_df.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1, inplace=True)

Employment_rate_df.columns
Employment_rate_df.columns = ['Country','Year','EmploymentRate']


#Rows with the Country value 'OECD' is removed 
Employment_rate_df = Employment_rate_df.drop(Employment_rate_df.index[Employment_rate_df['Country'].isin(['OECD'])])
print(Employment_rate_df.shape)
Employment_rate_df.head()

(379, 3)

  Country  Year  EmploymentRate
0     AUS  2011        72.65694
1     AUS  2012        72.34558
2     AUS  2013        71.97044
3     AUS  2014        71.56635
4     AUS  2015        72.15796

## Percentage of Tertiary Education Received

In [128]:
Tertiary_education_df = pd.read_csv('/Users/jasonlee/Downloads/INFO2950_Project_Data/Tertiary_Education.csv')

#Renaming the column variablesyu
Tertiary_education_df.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1, inplace=True)

Tertiary_education_df.columns
Tertiary_education_df.columns = ['Country','Year','Percentage (25-64yrs)']


#Rows with the Country value 'OECD' is removed 
Tertiary_education_df = Tertiary_education_df.drop(Tertiary_education_df.index[Tertiary_education_df['Country'].isin(['OECD','OAVG','G20',])])
print(Tertiary_education_df.shape)
Tertiary_education_df.head()

(368, 3)

  Country  Year  Percentage (25-64yrs)
0     AUS  2011              38.342072
1     AUS  2012              41.282364
2     AUS  2013              39.539928
3     AUS  2014              41.901855
4     AUS  2015              42.888756

## Internet Access

In [131]:
Internet_access_df = pd.read_csv('/Users/jasonlee/Downloads/INFO2950_Project_Data/Internet_Access.csv')

#Renaming the column varaibles
Internet_access_df.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1, inplace=True)

Internet_access_df.columns
Internet_access_df.columns = ['Country','Year','Internet Access']


#Rows with the Country value 'OECD' is removed 
Internet_access_df = Internet_access_df.drop(Internet_access_df.index[Internet_access_df['Country'].isin(['OECD'])])
print(Internet_access_df.shape)
Internet_access_df.head()

(335, 3)

  Country  Year  Internet Access
0     AUS  2012          83.0000
1     AUS  2014          85.8900
2     AUS  2016          86.1100
3     AUT  2011          75.4407
4     AUT  2012          79.2846

## Comprehensive View

In [130]:
# Now, the sets of cleaned datas can be merged into a single dataset to provide a comprehensive overview of all the datas based on the countries. 
Comp_view = fertility_rates_df.merge(GDP_df, on=['Country','Year']).merge(Health_spending_df, on=['Country','Year']).merge(Employment_rate_df, on=['Country','Year']).merge(Tertiary_education_df, on=['Country','Year']).merge(Internet_access_df, on= ['Country','Year'])

print(Comp_view.shape)

Comp_view.head()

(326, 8)

,Country,Year,FertilityRate,GDP (US Dollar/Capita),Health Spending (US Dollar/Capita),EmploymentRate,Percentage (25-64yrs),Internet Access
0,AUS,2012,1.93,43883.378891,3854.190,72.34558,41.282364,83.0000
1,AUS,2014,1.79,47603.880878,4562.730,71.56635,41.901855,85.8900
2,AUS,2016,1.79,50150.652199,5037.334,72.43150,43.743900,86.1100
3,AUT,2011,1.43,44469.209642,4345.158,71.10000,27.956152,75.4407
4,AUT,2012,1.44,46477.655075,4588.344,71.42500,28.739943,79.2846

# Data Description 

*What are the observations (rows) and the attributes (columns)?*

Each observation represents the data collected about the given country every year. Each attribute is values of that given category pertaining to each country. The following features are recorded for each country and year.  
<br>

Object field:
- Country: The name of the country registered in OECD (string)

<br>

Country Data: 
<br>
- Country: Name of the OECD country
- Year: Year the row of dats pertains to. From 2011 to 2020.
- FertilityRate: Fertility Rate (Children/Woman)
- GDP: Gross Domestic Product (US Dollar/Capita) 
- Health Spending: Health Spending (US Dollar/Capita) 
- EmploymentRate: Employment rate % of total working population (25-64yrs)
- Internet Access: Internet access % of all households 
- Percentage: Tertiary education rate % of total working population (25-64yrs) 

<br>

Why was this dataset created?

This dataset was created to document the various stastical information of countries. The dataset allows the public users to not only compare and contrast statistical trends of a country, but also among different countries as well . 

*Who funded the creation of the dataset?* 

The creation of the dataset was funded by OECD, also known as Organisation for Economic Co-operation and Development. 

*What process might have influenced what data was observed and recorded and what was not?* 

Much of the data that is available is multi-faceted. Meaning,the data observed and recorded was most likely influenced by whether the data set provides an insight on the degree of development of countries over time. Conversely, data/information that might be deemed inadequate in illustrating the degree of development of countries most likely was not observed and recorded.  

*What preprocessing was done, and how did the data come to be in the form that you are using?* 

The data didn't require intensive preprocessing since the datasets were well-processed and organized by OECD. However, our preprocessing mostly consisted of removing any excess columns of datas that were insignifcant to our research and renaming the columns and variables to be more informative. The last of preprocessing consisted of joining the different datasets together to provide a comprehensive overview of the data we collected. 

*If people are involved, were they aware of the data collection and if so, what purpose did they expect the data to be used for?* 

The subject of this data collection are OECD countries. They were aware of the data collection since the creation of the dataset is funded by OECD organization. They likely expected the data to be observed and used by public users for various uses, whether that may be educational, recreational, and/or more.

*Does the dataset identify any subpopulations (e.g., by age, gender)?* 

While not all the datasets identify any subpopulations, datasets regarding Employment Rate and Tertiary Education are based on working age, which ranges from 25 to 64 years old. 

*Is the dataset self-contained,or does it link to or otherwise rely on external resources (e.g., websites, tweets, other datasets)?*

The dataset relies on external resources, specifically the initial dataset that was provided by OECD. The datasets will remain constant over time, with additional datas updated every year. There aren't explicit archival versions, however, the OECD website itself is archival in the sense that the datas will be preserved as long as the organization still exists. There aren't any limitations associated with the external resources as they are available to the public for general use. 

*Where can your raw source data be found, if applicable? Provide a link to the raw data (hosted in a Cornell Google Drive or Cornell Box)*

https://drive.google.com/drive/folders/100_ZZScW3yAXBZ9k2wZW5fegNIw2HC6G?usp=sharing

# Data Limitations

- As of right now, there are a couple of possible limitations regarding the datasets. For example, some countries in different datasets had missing values. Although the missing values have been replaced with NaN, the missing values certainly detract from true comparison among countries. In fact, in the dataset for internet access, data for Japan was not included. While the data could have been retrieved from different organization, the data wasn't used due to the fact that the method of data collecting might be inconsistent with that of OECD. 

<br>

- In addition, because the time frame has been limited to only a decade, the datasets might not exhibit strong enough variability that allows us to observe any distinct or interesting patterns/relationships between the datas.

<br>

- Similarly, the datas that have been collected are limited to countries that are a part of OECD, Organisation for Economic Co-operation and Development. These countries are relatively more developed than the countries that are not part of the organization. For this reason, the countries can exhibit trends that are too similar of one another. While this might not exactly be a limitation, it can limit the amount of retrievable information from data anlysis.

# Questions for Reviewers

- Is the data that we collected extensive enough? 
    - Is the length of the dataset sufficient? 
    - Should we decrease or increase the number of attributes? (Employment rate, internet access, etc..)
   
- What would be the best way to handle missing data? 
    - As of now, for the data analysis, we got rid of rows with NaN because it caused complication for plotting. However, because of this, the dataset for "Comprehensive Analysis" is miss
    
- Is it necessary to keep the number rows consistent for different datasets? 

- Is there anymore data cleaning that needs to be done? 

- Would we have to make a function for renaming the column variables since it feels a little redundant?